name: "Terraform Apply S3 Bucket"

on:
  push:
    branches: [main] # Or your default branch

env:
  AWS_REGION: eu-north-1

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # Configure Terraform Cloud credentials
      - name: Authenticate to Terraform Cloud
        run: |
          mkdir -p $HOME/.terraform.d
          echo '{"credentials":{"app.terraform.io":{"token":"${{ secrets.TERRAFORM_API_TOKEN }}"}}}' > $HOME/.terraform.d/credentials.tfrc.json

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -input=false

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
